body {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 22px; }

h1, h2 {
  font-family: "Playfair Display", serif; }

p {
  margin-bottom: 20px; }

#oscars {
  width: 100%;
  height: 540px; }

.lead {
  text-align: center; }

.nav-img {
  width: 20px;
  display: inline;
  float: right; }

#twitter {
  padding-top: 3px; }

.btn {
  margin-bottom: 10px; }

.main {
  background-color: #E6E6E6; }

.contact {
  max-height: 160px; }

body img {
  margin-bottom: 20px; }

.footer {
  background-color: black; }
  .footer p {
    color: white; }

#hello {
  text-align: center; }

#myPic {
  max-width: 200px;
  margin: auto; }

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 8px; }

.headhr {
  border-top: 1px solid #333;
  margin-bottom: 30px; }

#silvamob {
  display: none; }

#subhead {
  margin-top: 0px; }

#me {
  padding-left: 0px;
  margin-bottom: -18px; }

@media (max-width: 590px) {
  h1 {
    font-size: 25px; }

  #subhead {
    font-size: 22px; } }
@media (max-width: 390px) {
  h1 {
    font-size: 22px; }

  #subhead {
    font-size: 18px; } }
@media (max-width: 460px) {
  #silva {
    display: none; }

  #silvamob {
    display: inline-block; } }