$base-font: "Lato"
$head-font: "Playfair Display"

body
	font-family: $base-font, sans-serif
	font-size: 18px
	line-height: 30px

h1, h2
	text-align: center
	font-family: $head-font, serif

p
	margin-bottom: 25px

#oscars
	width: 100%
	height: 650px

.lead
	text-align: center

.nav-img
	width: 20px
	display: inline
	float: right

#twitter
	padding-top: 3px

.btn
	margin-bottom: 10px

#myPic
	margin-bottom: 20px

.footer
	background-color: black
	p
		color: white




	